# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments

env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.env.local
.env.*.local
dnd.db
# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Misc
.DS_Store
Thumbs.db
animepahe_cookies.json
# yt-dlp downloads (optional)
downloads/
